<nav class="nav d-flex justify-content-between">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Settings</a>
    </li>
  </ul>
  <div class="icons justify-content-between">
    <i class="fa-solid fa-bell mr-3"></i>
    <i class="fa-solid fa-circle-user"></i>
  </div>
</nav>
