<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container my-4">
  <div class="row align-items-center mb-4">
    <div class="col-md-8">
      <h2>Welcome Back Hazem! Here are your latest updates.</h2>
    </div>
    <div class="col-md-4 text-md-end text-sm-center">
      <button class="btn btn-primary">New Request</button>
    </div>
  </div>
</div>
<app-profile-card></app-profile-card>
<app-news-slider></app-news-slider>
<app-vacation-requests></app-vacation-requests>
